.wrap{
	background: blue;
	width: 900px;
	margin: 10px auto;
}
 
/*bagian header*/
.wrap .header{
	background: green;
	/*height: 50px;*/
	padding: 2px 10px;
}
 
/*akhir header*/
 
/*bagian menu*/
.wrap .menu{
	background: yellow;
}
 
.wrap .menu ul{
	padding: 0;
	margin: 0;
	background: yellow;
	overflow: hidden;
}
 
.wrap .menu ul li{
	float: left;
	list-style-type: none;
	padding: 10px;
}
/*akhir menu*/
 
.clear{
	clear: both;
}
 
.badan{
	height: 450px;
}
/*bagian sidebar*/
.wrap .badan .sidebar{
	background: orange;
	float: left;	
	width: 25%;
	height: 100%;
}
 
/*akhir sidebar*/
 
.wrap .badan .content{
	background: red;
	float: left;
	height: 100%;
	width: 75%;	
}
 
.wrap .footer{
	width: 100%;
	padding: 10px;
}
jalankan file index.html pada browser

membuat tampilan layout website sederhana dengan html dan css
membuat tampilan layout website sederhana dengan html dan css
nah tampilan layout sederhana pun selesai. sengaja warna pada masing-masing bagian saya bedakan dengan warna yang masih asal-asalan. agar teman-teman lebih mudah untuk memahaminya. baiklah sekian dulu tutorial tentang membuat tampilann layout website sederhana dengan html dan css. pada tutorial web design selanjutnya akan saya bahas tentang membuat sebuah template website sendiri dengan design yang menarik dan responsive tentunya.

Download

Incoming search terms:

membuat tampilan web menarik dengan css
contoh desain web menggunakan html dan css
cara membuat web sederhana dengan html dan css
membuat tampilan web yang menarik dengan php
cara membuat layout
contoh web sederhana dengan html dan css
membuat layout web dengan css
cara membuat website dengan html
cara membuat tampilan web
tampilan web
